.bg-layer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url("../img/furina-eye.gif") no-repeat center/cover;
  filter: blur(8px);
  z-index: -2;
}

.bg-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 50px;
}
