* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Genshin', sans-serif; /* toàn trang dùng font Genshin */
  color: #fff;
  overflow-x: hidden;
  background: #000;
}
