.hero {
  position: relative;
  height: 100vh;
  display: flex;
  
  left: 20%;
  align-items: center;
  justify-content: center;
}

.title-box {
  background: rgba(255, 50, 50, 0.25);
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 100, 100, 0.6);
  display: inline-block;
}

.title-main {
  font-size: 64px;
  color: #fff;
  font-weight: 700;
  
  text-shadow: 0 0 20px rgba(255, 120, 120, 0.9);
  letter-spacing: 2px;
}
